@model GymMemberships.Models.Member

@{
    ViewData["Title"] = "Details";
}

<body>
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h3 style="color: black;">Member <b style="color: royalblue;">Details</b></h3>
                    </div>
                    <div class="card-body">
                        <!-- Name and Email Section -->
                        <div class="row mb-3 justify-content-center">
                            <div class="col-sm-6">
                                <h5 style="color: black;"><b>Name:</b></h5>
                                <p style="color: dimgray;">@Html.DisplayFor(model => model.Name)</p>
                            </div>
                            <div class="col-sm-6">
                                <h5 style="color: black;"><b>Email:</b></h5>
                                <p style="color: dimgray;">@Html.DisplayFor(model => model.Email)</p>
                            </div>
                        </div>

                        <hr class="my-3" />

                        <!-- Phone and Age Section -->
                        <div class="row mb-3 justify-content-center">
                            <div class="col-sm-6">
                                <h5 style="color: black;"><b>Phone:</b></h5>
                                <p style="color: dimgray;">@Html.DisplayFor(model => model.Phone)</p>
                            </div>
                            <div class="col-sm-6">
                                <h5 style="color: black;"><b>Age:</b></h5>
                                <p style="color: dimgray;">@Html.DisplayFor(model => model.Age)</p>
                            </div>
                        </div>

                        <hr class="my-3" />

                        <!-- Membership Plan Section -->
                        <div class="row mb-3 justify-content-center">
                            <div class="col-sm-12">
                                <h5 style="color: black;"><b>Membership Plan:</b></h5>
                                <p style="color: dimgray;">@ViewData["MembershipPlanName"]</p>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="row mt-3 justify-content-center">
                            <div class="col-12 text-center mb-2">
                                <!-- Edit button, centered -->
                                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-sm w-50">Edit Member</a>
                            </div>
                            <div class="col-12 text-center">
                                <!-- Back to List button, centered -->
                                <a asp-action="Index" class="btn btn-link w-50">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
