@model IEnumerable<GymMemberships.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<body>
    <div class="container-index">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row justify-content-center">
                        <div class="col-sm-8 text-center">
                            <h2 style="color: black;">Member <b style="color: royalblue;">Details</b></h2>
                        </div>
                    </div>
                </div>
                <p class="text-center">
                    <!-- Make the button smaller by adding a custom class -->
                    <a class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
                </p>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>@Html.DisplayNameFor(model => model.Phone)</th>
                            <th>@Html.DisplayNameFor(model => model.Age)</th>
                            <th>@Html.DisplayNameFor(model => model.MembershipPlanId)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                                <td>@Html.DisplayFor(modelItem => item.MembershipPlanId)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="edit" title="Edit"><span class="material-icons" style="color: black;">edit</span></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="view" title="View"><span class="material-icons" style="color: black;">visibility</span></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete" title="Delete"><span class="material-icons" style="color: red;">delete</span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>



