@model IEnumerable<GymMemberships.Models.MembershipPlan>

@{
    ViewData["Title"] = "Index";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Hoverable Table rows -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Memberships Plan</h5>
            <a asp-action="Create">
                <button type="button" class="btn btn-primary">Create</button>
            </a>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Plan Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)



                    {
                        <tr>
                            <td><span>@Html.DisplayFor(modelItem => item.PlanName)</span></td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td><span>@Html.DisplayFor(modelItem => item.Description)</span></td>
                            <td>
                                <div>
                                    <a asp-action="Edit" asp-route-id="@item.Id">
                                        <button type="button" class="btn btn-primary">
                                            Edit
                                        </button>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        <button type="button" class="btn btn-secondary">
                                            Details
                                        </button>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id">
                                        <button type="button" class="btn btn-danger">
                                            Delete
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Hoverable Table rows -->
</div>